/* #tweet-container {
  margin-top: 1em;
  border-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-width: thin;
  border-style: solid;
  width: 800px;

} */



.kuro {
  margin-top: 1em;
  border-color: #131313;
  /*display: flex;*/

  border-width: thin;
  border-style: solid;
  width: auto;
  height: auto;

}

#avatarName {
  display: flex;
  flex-direction: row;
}

#handle {
  display: flex;
}

/* #article {
  display: flex;
} */

.kuro:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

i:hover {   
  color: orange;
}


article {
  display: flex;
border-bottom: solid;

  
  flex-direction: row;
  justify-content: center;
  border-color: #131313;
  
}

footer {
  display: flex;
  width: auto;
  justify-content: space-between;
  flex-direction: row;
}


#tweetHeader {

  display: flex;
  justify-content: space-between;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}