.renderedTweets {
  margin-top: 1em;
  border-color: #131313;
  border-width: thin;
  border-style: solid;
  overflow-wrap: break-word;
  height: auto;
  width: auto;
}

#avatarName {
  display: flex;
  flex-direction: row;
}

#handle {
  display: flex;
}

.kuro:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

i:hover {
  color: orange;
}

article {
  overflow-wrap: break-word;

  border-bottom: solid;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;

  flex-wrap: wrap;
  height: auto;
  flex-direction: row;
  justify-content: center;
  border-color: #131313;
}

footer {
  display: flex;
  width: auto;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
}

#tweetHeader {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
